version: "3.9"

services:
  postgres-hubspot:
    image: postgres:15
    container_name: postgres-hubspot
    restart: always
    ports:
      - "5435:5432"  # host:container
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  hubspot_sync:
    build: .
    container_name: hubspot_sync
    restart: "no"  # run once per deployment
    env_file:
      - .env
    depends_on:
      - postgres-hubspot

volumes:
  pg_data:
