version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: hubspot_postgres
    restart: always
    ports:
      - "5435:5432"
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  hubspot_sync:
    build: .
    container_name: hubspot_sync
    restart: "no"  # run once per deployment
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  pg_data:
