name: Deploy HubSpot Sync

on:
  push:
    branches:
      - qa

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no -p ${{ secrets.SERVER_PORT }} \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'

          set -e

          APP_DIR=~/hubspot-sync
          CONTAINER_NAME=hubspot_connect
          IMAGE_NAME=hubspot-sync:latest

          echo "Updating repo..."
          if [ ! -d "$APP_DIR" ]; then
              git clone https://github.com/dockerscarro/postgres.git $APP_DIR
          else
              cd $APP_DIR
              git pull
          fi

          cd $APP_DIR

          echo "Stopping old container..."
          docker stop $CONTAINER_NAME || true
          docker rm $CONTAINER_NAME || true

          echo "Building image..."
          docker build -t $IMAGE_NAME .

          echo "Starting container..."
          docker run -d \
            --name $CONTAINER_NAME \
            --restart always \
            -v hubspot_pgdata:/var/lib/postgresql \
            -e HUBSPOT_API_KEY='${{ secrets.HUBSPOT_API_KEY }}' \
            -e POSTGRES_DB='${{ secrets.POSTGRES_DB }}' \
            -e POSTGRES_USER='${{ secrets.POSTGRES_USER }}' \
            -e POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}' \
            -e POSTGRES_PORT='${{ secrets.POSTGRES_PORT }}' \
            $IMAGE_NAME

          echo "Deployment completed"

          EOF
